{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

        <!--/.bg-holder-->
      <section class="py-xxl-10 pb-0" id="home">
        <div class="bg-holder bg-size" style="background-image:url(assets/img/gallery/hero-header-bg.png);background-position:top center;background-size:cover;">
        </div>
        <div class="container">
          <div class="row align-items-center">
            {% if usuario == True %}
            <div class="col-md-5 col-xl-6 col-xxl-7 order-0 order-md-1 text-end"><img style="height: 130%; width: 130%;margin-left: -3%;" src="{% static 'core/img/illustrations/abuelos.png' %}" alt="hero-header"/></div>
            <div class="col-md-75 col-xl-6 col-xxl-5 text-md-start text-center py-8">
              <h1 class="fw-normal fs-6 fs-xxl-7">Actualmente ya te encuentras en un taller</h1>
              {% for taller in talleres_inscritos %}
              <h1 class="fw-bolder fs-6 fs-xxl-7 mb-2">{{ taller.nombre }}</h1>
              {% endfor %}
              <p class="fs-1 mb-5">Reucuerda que puedes desvincularte del<br />taller siempre que quieras y estes a tiempo.</p><a class="btn btn-primary me-2" href="{% url 'salir' user.id %}" role="button">Desvinculate<i class="fas fa-arrow-right ms-2"></i></a>
              {% else %}
              <div class="col-md-5 col-xl-6 col-xxl-7 order-0 order-md-1 text-end"><img style="height: 130%; width: 130%;margin-left: -3%;" src="{% static 'core/img/illustrations/abuelos.png' %}" alt="hero-header"/></div>
              <div class="col-md-75 col-xl-6 col-xxl-5 text-md-start text-center py-8">
                <h1 class="fw-normal fs-6 fs-xxl-7">Talleres de confianza</h1>
                <h1 class="fw-bolder fs-6 fs-xxl-7 mb-2">dedicados a adultos mayores</h1>
                <p class="fs-1 mb-5">Postula y podras usar nuestros servicios,<br />recuerda tener una cuenta para postular.</p><a class="btn btn-primary me-2" href="#services" role="button">Postula!<i class="fas fa-arrow-right ms-2"></i></a>
            </div>

          </div>
        </div>
      </section>


      <section class="py-7" id="services" container-xl="container-xl">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 col-lg-5 text-center mb-3">
              <h5 class="text-danger">Talleres</h5>
              <h2>Nuestros Talleres para ti</h2>
            </div>
          </div>
        
   
          
          <div class="row h-100 justify-content-center">
            {% for aux in Talleres %}
            <div class="col-md-4 pt-4 px-md-2 px-lg-3">
              <div class="card h-100 px-lg-5 card-span">
                <div class="card-body d-flex flex-column justify-content-around">
                  <div class="text-center pt-5"><img class="img-fluid" src="{% static 'core/img/icons/services-1.svg' %}" alt="..." />
                    <h5 class="my-4">{{ aux.nombre }}</h5>
                  </div>
                  <p>{{ aux.descripcion }} Duracion de {{ aux.horas }} horas.</p>
                  
                  <ul class="list-unstyled">
                    <li class="mb-2"><span class="me-2"><i class="fas fa-circle text-primary" style="font-size:.5rem"></i></span>Sala: {{ aux.sala }}
                    </li>
                    <li class="mb-2"><span class="me-2"><i class="fas fa-circle text-primary" style="font-size:.5rem"></i></span>Minicipalidad de {{ aux.municipalidad }}
                    </li>
                    <li class="mb-2"><span class="me-2"><i class="fas fa-circle text-primary" style="font-size:.5rem"></i></span>Instructor: {{ aux.instructor }}
                    </li>
                    
                  </ul>
                  
                  <div class="text-center my-5">
                    <div class="d-grid">
                      <form method="post" action="{% url 'postular' aux.id %}">
                        {% csrf_token %}
                        <button class="btn btn-danger hover-top btn-glow border-0" type="submit">Postular</button>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        {% endif %}
        
      
      </section>
   {% endblock %}